<h2 class="text-center border-light border-bottom col-6 m-auto my-3">{{jobDescription.job_name}}</h2>
<div class="border border-dark rounded fs-5 m-auto my-3 d-flex justify-content-center col-10">
{{jobDescription.description}}
</div>
<div class="text-center border-bottom border-dark">
        <p>${{jobDescription.price}}</p><br>
  <button class='btn text-center mb-5' id="delete">Delete posting</button>
</div>
<script src='/js/delete.js'></script>