<a href="/jobs/2" class="text-decoration-none border border-danger rounded text-dark m-3">
    <header class="border-bottom border-dark text-center p-2">{{job_name}}</header>
    <div class="container-fluid d-flex justify-content-between text-center p-2">
        <p class="border-bottom border-dark d-inline">{{zipcode}}</p>
        <p class="border-bottom border-dark d-inline">${{price}}</p>
    </div>
</a>