    <h1 class="pt-5 text-center">About Us</h1>
    <div class="fs-3 mx-5">
        <p>
            The purpose of this application is to help people find jobs and vice versa.
            Have a chore that you don't want to do and willing to pay someone to take care of it?
            Simply post the job and submit a price and anyone can respond to take care of it for you.
        </p>
        <p>
            Have a few free hours and want to earn some quick cash?
            Just look on the job board and select a job that appeals the most to you.
            Communicate with each other via the contacts provided and always be sure to check your sources before
            hiring/completing a job.
        </p>
        Happy hunting!
    </div>