<h1 class="mt-5 text-center border-dark border-bottom">Hiring Post Page</h1>
<h2 class="text-center border-dark border-bottom">Job Name</h2>
<div class="border border-dark text-center d-flex justify-content-center">
    A brief description of the job. I am currently looking for a person with knowledge of handlebars to dig me out of
    this huge hole I am in. Please please please save me!
</div>
<div class="text-center border-bottom border-dark">
    <form>
        <label for='price'>Price placeholder</label><br />
        <input type='text' name='price' id='price' /><br />
        <button class='btn text-center'>Post Job</button>
    </form>
</div>