<h1 class="mt-5 text-center border-dark border-bottom">Hiring Post Page</h1>
<h2 class="text-center border-light border-bottom col-6 m-auto my-3">Job Name</h2>
<div class="border border-dark rounded fs-5 m-auto my-3 d-flex justify-content-center col-10">
    A brief description of the job. I am currently looking for a person with knowledge of handlebars to dig me out of
    this huge hole I am in. Please please please save me!
</div>
<div class="text-center border-bottom border-dark">
    <form class="m-3">
        <label for='price'>Price placeholder</label><br>
        $<input type='number' min="1" name='price' id='price'><br>
        <button class='btn text-center m-5'>Post Job</button>
    </form>
</div>