    <div class="container-fluid text-center">
        <h1 class="pt-1">Home</h1>
        <h2>Welcome!</h2>
        <p class="border-top border-dark fs-3 align-center">Please select an option</p>
        <div class="align-center">
            <div class="m-1">
                <a href="/jobseeking"><button class='btn fs-2 col-4 btn-seeking text-primary bg-light'>Seeking</button></a>
            </div>
            <div class="m-2">
                <a href="/hiringposts"><button class='btn fs-2 col-4 btn-hiring text-success bg-light'>Hiring</button></a>
            </div>
        </div>
    </div>