    <div class="container-fluid text-center">
        <h1 class="pt-1">Home</h1>
        <h2>Welcome!</h2>
        <p class="border-top border-dark fs-3 align-center">Please select an option</p>
        <div class="align-center">
            <div class="m-1">
                <a href="/jobseeking"><button class='btn fs-2 col-10 col-lg-4 btn-seeking bg-primary rounded'>Seeking</button></a>
            </div>
            <div class="m-1">
                <a href="/hiringposts"><button class='btn fs-2 col-10 col-lg-4 btn-hiring bg-success rounded'>Hiring</button></a>
            </div>
        </div>
    </div>