<h1 class="mt-5 text-center">Job Seeking Page</h1>
    <div class="pt-5">
    <section class="d-flex card col-10 p-3 mt-3 m-auto">
        <a href="/jobs/1" class="mt-3 text-decoration-none border border-danger rounded text-dark">
            <header class="border-bottom border-dark text-center p-2">New Job</header>
            <div class="container-fluid d-flex justify-content-between text-center p-2">
        <p class="border-bottom border-dark d-inline">zip code</p>
        <p class="border-bottom border-dark d-inline">price</p>
      </div>
      </a>
          <a href="/jobs/2" class="mt-3 text-decoration-none border border-danger rounded text-dark">
              <header class="border-bottom border-dark text-center p-2">New Job</header>
              <div class="container-fluid d-flex justify-content-between text-center p-2">
          <p class="border-bottom border-dark d-inline">zip code</p>
          <p class="border-bottom border-dark d-inline">price</p>
        </div>
        </a>
        <a href="/jobs/3" class="mt-3 text-decoration-none border border-danger rounded text-dark">
            <header class="border-bottom border-dark text-center p-2">New Job</header>
            <div class="container-fluid d-flex justify-content-between text-center p-2">
        <p class="border-bottom border-dark d-inline">zip code</p>
        <p class="border-bottom border-dark d-inline">price</p>
      </div>
      </a>
      </section>
    </div>