<h1 class="mt-3 text-center"><u>Available Job Posts</u></h1>
<div class="pt-1">
    <section class="d-flex card border-0 col-8 col-lg-4 m-auto transition-swipe">
        {{#each jobs}}
        {{> seekcard}}
        {{/each}}
    </section>
</div>