<h1>Post a new job!</h1>
<form class='job-post'>
    <label for='job_name'>Job Name</label><br>
    <input type='text' name='job_name' id='job_name'><br>
    <label for='description'>Job Description</label><br>
    <input type='text' name='description' id='description'><br>
    <label for='price'>price</label><br>
    <input type='text' name='price' id='price'><br>
    <label for='zipcode'>zipcode</label><br>
    <input type='text' name='zipcode' id='zipcode'><br>
        <label for='contact_mail'>Email</label><br>
    <input type='text' name='contact_mail' id='contact_mail'><br>
    <button class='btn' type='submit'>Post job</button>
</form>
<script src='/js/makejob.js'></script>