<h1 class="text-center mt-5">Post a new job!</h1>
<form class='job-post text-center m-3 container-fluid col-10 col-lg-2 m-auto'>
    <label for='job_name'>Job Name</label><br>
    <input type='text' name='job_name' placeholder="Job Name" class="my-3 col-12" id='job_name'><br>
    <label for='description'>Job Description</label><br>
     <textarea class="form-control" placeholder="Job Description" id="description" rows="5"></textarea><br>
    <label for='price'>price</label><br>
    <input type='text' name='price' placeholder="Price (use numbers only)" class="my-3 col-12" id='price'><br>
    <label for='zipcode'>zipcode</label><br>
    <input type='text' name='zipcode' placeholder="Zipcode (e.g. 87613)" class="my-3 col-12" id='zipcode'><br>
    <label for='contact_email'>Email</label><br>
    <input type='text' name='contact_email' placeholder="Email (e.g. name@email.com)" class="my-3 col-12" id='contact_email'><br>
    <button class='btn m-auto my-3' type='submit'>Post job</button>
</form>
<script src='/js/makejob.js'></script>