<h1 class="text-center mt-5">Signup</h1>
<form class='signup-form text-center m-3'>
  <label for='email'>Email</label><br />
  <input type='email' name='email' placeholder="Email (e.g. name@email.com)" class="m-3" id='email' /><br />
  <label for='password'>Password</label><br />
  <input type='password' name='password' placeholder="Password" class="m-3" id='password' /><br />
  <label for='confirm-password'>Confirm Password</label><br />
  <input type='password' name='confirm-password' placeholder="Password" class="m-3" id='confirm-password' /><br />
  <button class='btn btn-signup m-3' type='submit'>Submit</button>
</form>
<p class="text-center">Already have an account? <a href='/login'>Login Here</a></p>
<script src='/js/signup.js'></script>