<h1 class="pt-5 text-center">Signup</h1>
<form class='signup-form text-center'>
  <label for='email'>Email</label><br />
  <input type='text' name='email' id='email' /><br />
  <label for='password'>Password</label><br />
  <input type='password' name='password' id='password' /><br />
  <label for='confirm-password'>Confirm Password</label><br />
  <input type='password' name='confirm-password' id='confirm-password' /><br />
  <button class='btn m-5' type='submit'>Submit</button>
</form>
<p>Already have an account? <a href='/login'>Login Here</a></p>
<script src='/js/signup.js'></script>