.btn {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#seekcard {
  box-shadow: 0px 0px 8px blue;
}

#hirecard {
  box-shadow: 0px 0px 8px blue;
}

.btn-logout, .btn-login, .btn-signup, .btn-about-us, .btn-home, .btn-postjob, .btn-delete, .btn-makejob, .btn-signup {
  padding: 5px 28px;
  background-color: #e7e7e7;
  color: black;
}

.transition-fade {
  opacity: 1;
  transition: 1000ms;
}

html.is-animating .transition-fade {
  opacity: 1;
}

html.is-leaving .transition-fade {
  opacity: 0;
}

.transition-swipe {
  transition: 1000ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-swipe {
  transform: translateX(100%);
}

html.is-leaving .transition-swipe {
  transform: translateY(100%);
}